@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.resize-no-select {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

/* Fix for double scrolling issue */
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
